<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        //For getting CSRF token
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        //For doing AJAX post
        function submit() {
            //submit.preventDefault();
            to_post = JSON.stringify({"total_time":20, "arcs":[{"filename": "media/fire.mp3", "theta": 0, "dtheta": 5, "intensity": 1}, {"filename": "media/thunder.mp3", "theta": 2, "dtheta": 5, "intensity": 1}]})
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url : window.location.href, // the endpoint,commonly same url
                type : "POST", // http method
                data : { csrfmiddlewaretoken : csrftoken,
                    postData:to_post}, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    console.log(json); // another sanity check
                    //On success show the data posted to server as a message
                    alert("success");
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    alert("failutre");
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        }
    </script>
    <title>Drizzle</title>
</head>
<body>
    <button onclick="submit()">Sign in</button>
</body>
</html>
